<form class="form-horizontal" autocomplete="off" #createRoleForm="ngForm" name="forms">
  <div class="modal-body">
    <tabset #staticTabs>
      <tab [heading]="'Configuration' | localize" class="pt-3 px-2">        
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="postsIntervalInHours">
            Posts interval
          </label>
          <div class="col-md-2">
            <input type="text" class="form-control input-size" name="postNumbers" id="postNumbers" required
              maxlength="20" [(ngModel)]="InstaSettingUpdateInputDto.postNumbers"
              onkeypress="return /^[0-9 ()]+$/i.test(event.key)" #postNumbers="ngModel" #postNumbersEl />
            <abp-validation-summary [control]="postNumbers" [controlEl]="postNumbersEl">
            </abp-validation-summary>
          </div>
          <div class="col-md-1"> posts</div>
          <div class="col-md-2">
            <input type="text" class="form-control input-size" name="postIntervalValue" id="postIntervalValue" required
              maxlength="20" [(ngModel)]="InstaSettingUpdateInputDto.postIntervalValue"
              onkeypress="return /^[0-9 ()]+$/i.test(event.key)" #postIntervalValue="ngModel" #postIntervalValueEl />
            <abp-validation-summary [control]="postIntervalValue" [controlEl]="postIntervalValueEl">
            </abp-validation-summary>
          </div>
          <div class="col-md-1"> times</div>
          <div class="col-md-3">
            <p-dropdown [options]="times" required placeholder="Select Time"
              [(ngModel)]="InstaSettingUpdateInputDto.postInterval" optionLabel="name" name="selectedPostsTimeFor">
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="description">
            Stories interval </label>
          <div class="col-md-2">
            <input type="text" class="form-control input-size" name="storyNumbers" id="storyNumbers" required
              maxlength="20" [(ngModel)]="InstaSettingUpdateInputDto.storyNumbers"
              onkeypress="return /^[0-9 ()]+$/i.test(event.key)" #storyNumbers="ngModel" #storyNumbersEl />
            <abp-validation-summary [control]="storyNumbers" [controlEl]="storyNumbersEl">
            </abp-validation-summary>
          </div>
          <div class="col-md-1"> stories</div>
          <div class="col-md-2">
            <input type="text" class="form-control input-size" name="storyIntervalValue" id="storyIntervalValue"
              required maxlength="20" [(ngModel)]="InstaSettingUpdateInputDto.storyIntervalValue"
              onkeypress="return /^[0-9 ()]+$/i.test(event.key)" #storyIntervalHour="ngModel" #storyIntervalValueEl />
            <abp-validation-summary [control]="storyIntervalHour" [controlEl]="storyIntervalValueEl">
            </abp-validation-summary>
          </div>
          <div class="col-md-1"> times</div>
          <div class="col-md-3">
            <p-dropdown [options]="times" required placeholder="Select Time"
              [(ngModel)]="InstaSettingUpdateInputDto.storyInterval" optionLabel="name" name="storyInterval">
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row"></div>
        <label class="col-md-3 col-form-label" for="phoneSettings">
          Phone number settings
        </label>
        <div class="col-md-2"> Api key</div>
        <div class="col-md-3">
          <input type="text" class="form-control input-size" name="apiKey" id="apiKey" required
            maxlength="100" [(ngModel)]="InstaSettingUpdateInputDto.apiKey" #apiKey="ngModel" #apiKeyEl />
          <abp-validation-summary [control]="apiKey" [controlEl]="apiKeyEl">
          </abp-validation-summary>
        </div>
        <div class="col-md-2"> Country Code</div>
        <div class="col-md-1">
          <input type="text" class="form-control input-size" name="countryCode" id="countryCode" required
            maxlength="3" [(ngModel)]="InstaSettingUpdateInputDto.countryCode" #countryCode="ngModel" #countryCodeEl />
          <abp-validation-summary [control]="countryCode" [controlEl]="countryCodeEl">
          </abp-validation-summary>
        </div>
        <label class="col-md-3 col-form-label" for="phoneSettings">
          Proxy settings
        </label>
        <div class="col-md-2"> Url</div>
        <div class="col-md-3">
          <input type="text" class="form-control input-size" name="url" id="url" required
            maxlength="200" [(ngModel)]="InstaSettingUpdateInputDto.proxyUrl" #url="ngModel" #urlEl />
          <abp-validation-summary [control]="url" [controlEl]="urlEl">
          </abp-validation-summary>
        </div>
        <div class="col-md-2"> User name</div>
        <div class="col-md-3">
          <input type="text" class="form-control input-size" name="proxyUserName" id="proxyUserName" required
          maxlength="100" [(ngModel)]="InstaSettingUpdateInputDto.proxyUserName" #proxyUserName="ngModel" #proxyUserNameEl />
          <abp-validation-summary [control]="proxyUserName" [controlEl]="proxyUserNameEl">
          </abp-validation-summary>
        </div>
        <div class="col-md-2"> Password</div>
        <div class="col-md-3">
          <input type="text" class="form-control input-size" name="proxyPassword" id="proxyPassword" required
            maxlength="100" [(ngModel)]="InstaSettingUpdateInputDto.proxyPassword" #proxyPassword="ngModel" #proxyPasswordEl />
          <abp-validation-summary [control]="proxyPassword" [controlEl]="proxyPasswordEl">
          </abp-validation-summary>
        </div>
      </tab>
      <tab [heading]="'Message Template' | localize" class="pt-3 px-2">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            Message interval </label>
          <div class="col-md-2">
            <input type="text" class="form-control input-size" name="messageNumbers" id="messageNumbers" required
              maxlength="20" [(ngModel)]="InstaSettingUpdateInputDto.messageNumbers"
              onkeypress="return /^[0-9 ()]+$/i.test(event.key)" #messageNumbers="ngModel" #messageNumbersEl />
            <abp-validation-summary [control]="messageNumbers" [controlEl]="messageNumbersEl">
            </abp-validation-summary>
          </div>
          <div class="col-md-1"> Messages</div>
          <div class="col-md-2">
            <input type="text" class="form-control input-size" name="messageIntervalInHours" id="messageIntervalInHours"
              required maxlength="20" [(ngModel)]="InstaSettingUpdateInputDto.messageIntervalValue"
              onkeypress="return /^[0-9 ()]+$/i.test(event.key)" #messageIntervalValueHour="ngModel"
              #messageIntervalInHoursEl />
            <abp-validation-summary [control]="messageIntervalValueHour" [controlEl]="messageIntervalInHoursEl">
            </abp-validation-summary>
          </div>
          <div class="col-md-1"> times</div>
          <div class="col-md-3">
            <p-dropdown [options]="times" required placeholder="Select Time"
              [(ngModel)]="InstaSettingUpdateInputDto.messageInterval" optionLabel="name" name="storyIntervalValue">
            </p-dropdown>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            Message
          </label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" name="description" id="description"
              [(ngModel)]="InstaSettingUpdateInputDto.messageBody" #messageBody="ngModel" #messageBodyEl required>
          </textarea>
            <abp-validation-summary [control]="messageBody" [controlEl]="messageBodyEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="recipientTags">
            Recipient Tag
          </label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" name="recipientTags" id="recipientTags" rows="5"
              [(ngModel)]="recipientTags" #recipientTagsNg="ngModel" #recipientTagsEl required>
          </textarea>
            <abp-validation-summary [control]="recipientTagsNg" [controlEl]="recipientTagsEl"></abp-validation-summary>
          </div>
        </div>
        <label class="col-md-3 col-form-label" for="storyTag">
          Story tag location
        </label>
        <div class="col-md-1">Y</div>
        <div class="col-md-2">
          <input type="text" class="form-control input-size" name="tagPositionY" id="tagPositionY" required
            maxlength="3" [(ngModel)]="InstaSettingUpdateInputDto.tagPositionY"
            onkeypress="return /^[0-9 () .]+$/i.test(event.key)" #tagPositionY="ngModel" #tagPositionYEl />
          <abp-validation-summary [control]="tagPositionY" [controlEl]="tagPositionYEl">
          </abp-validation-summary>
        </div>
        <div class="col-md-1">X</div>
        <div class="col-md-2">
          <input type="text" class="form-control input-size" name="tagPositionX" id="tagPositionX" required
            maxlength="3" [(ngModel)]="InstaSettingUpdateInputDto.tagPositionX"
            onkeypress="return /^[0-9 () .]+$/i.test(event.key)" #tagPositionX="ngModel" #tagPositionXEl />
          <abp-validation-summary [control]="tagPositionX" [controlEl]="tagPositionXEl">
          </abp-validation-summary>
        </div>
      </tab>
      <tab [heading]="'Account data' | localize" class="pt-3 px-2">   
        <div class="col-md-2"> Bio</div>
        <div class="form-group row">
        <div class="col-md-3">
          <textarea type="text" class="form-control" name="bio1" id="bio1" rows="2"
              [(ngModel)]="InstaSettingUpdateInputDto.bio1" #bio1="ngModel" #bio1El>
          </textarea>
            <abp-validation-summary [control]="bio1" [controlEl]="bio1El"></abp-validation-summary>
          </div>
        <div class="col-md-3">
          <textarea type="text" class="form-control" name="bio2" id="bio2" rows="2"
          [(ngModel)]="InstaSettingUpdateInputDto.bio2" #bio2="ngModel" #bio2El>
      </textarea>
        <abp-validation-summary [control]="bio2" [controlEl]="bio2El"></abp-validation-summary>
      </div>
        <div class="col-md-3">
          <textarea type="text" class="form-control" name="bio3" id="bio3" rows="2"
          [(ngModel)]="InstaSettingUpdateInputDto.bio3" #bio3="ngModel" #bio3El>
      </textarea>
          <abp-validation-summary [control]="bio3" [controlEl]="bio3El">
          </abp-validation-summary>
        </div>
        <div class="col-md-3">
          <textarea type="text" class="form-control" name="bio4" id="bio4" rows="2"
          [(ngModel)]="InstaSettingUpdateInputDto.bio4" #bio4="ngModel" #bio4El>
      </textarea>
          <abp-validation-summary [control]="bio4" [controlEl]="bio4El">
          </abp-validation-summary>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <textarea type="text" class="form-control" name="bio5" id="bio5" rows="2"
          [(ngModel)]="InstaSettingUpdateInputDto.bio5" #bio5="ngModel" #bio5El>
      </textarea>
          <abp-validation-summary [control]="bio5" [controlEl]="bio5El">
          </abp-validation-summary>
        </div>
        <div class="col-md-3">
          <textarea type="text" class="form-control" name="bio6" id="bio6" rows="2"
          [(ngModel)]="InstaSettingUpdateInputDto.bio6" #bio6="ngModel" #bio6El>
      </textarea>
          <abp-validation-summary [control]="bio6" [controlEl]="bio6El">
          </abp-validation-summary>
        </div>
        <div class="col-md-3">
          <textarea type="text" class="form-control" name="bio7" id="bio7" rows="2"
          [(ngModel)]="InstaSettingUpdateInputDto.bio7" #bio7="ngModel" #bio7El>
      </textarea>
          <abp-validation-summary [control]="bio7" [controlEl]="bio7El">
          </abp-validation-summary>
        </div>
        <div class="col-md-3">
          <textarea type="text" class="form-control" name="bio8" id="bio8" rows="2"
          [(ngModel)]="InstaSettingUpdateInputDto.bio8" #bio8="ngModel" #bio8El>
      </textarea>
          <abp-validation-summary [control]="bio8" [controlEl]="bio8El">
          </abp-validation-summary>
        </div>
      </div>
      </tab>
    </tabset>
    <div class="modal-footer justify-content-end" style="margin-top: 50px;">
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!createRoleForm.form.valid || saving">
        Save
      </button>
    </div>
  </div>
</form>